@font-face {
    font-family: KDA;
    src: url(/font/KDA.ttf);
  }

body{
    margin: 0;
    padding: 0;
    background: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    font-family: KDA, sans-serif;
    color: rgb(201,191,249);
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: rgb(22, 22, 22);
}


section{
    padding: 150px;
    padding-right: 50px;
    background-image: url(/assets/akalikdaallout.png);
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.formContainer{
    background-color: rgba(25,67,58,0.4);
    color: #BBB2F7;
    max-width: 250px;
    float: right;
    padding: 20px;
    border-radius: 10px;
    border-top-right-radius: 100px;
}

.formContainer h2, .formContainer h6, .formContainer p{
    display: inline-block;
}

h2{
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.formContainer p{
    margin-top: 0;
}

.viewmore{
    color: rgb(65, 65, 65);
    background-color: #BBB2F7;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #5559CF;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: KDA, sans-serif;
    font-size: 16px;
}

.viewmore:hover{
    color: black;
    background-color: #5559CF;
    cursor: pointer;
}

footer{
    padding-left: 0;
    color: white;
    font-size: 10px;
}

footer img{
    width: 4%;
}

ul{
    box-sizing: border-box;
    padding-left: 35%;
    padding-right: 35%;
    color: black;
    margin: auto;
}

li{
    display: inline-block;
    padding: 10px;
    opacity: 0.5
}