@font-face {
  font-family: KDA;
  src: url(./font/KDA.ttf);
}

* {
  box-sizing: border-box;
}

body {
  display: absolute;
  margin: 0;
  padding: 0;
  background: black;
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  position: sticky;
  font-family: KDA, sans-serif;
  color: rgb(201, 191, 249);
  font-size: 2vw;
  text-align: center;
  padding: 10px;
  top: 0;
  background-color: rgb(22, 22, 22);
}

section {
  padding: 150px;
  padding-right: 50px;
  background-image: url(./assets/akalikdaallout.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.formContainer {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(25, 67, 58, 0.4);
  color: #bbb2f7;
  max-width: 300px;
  float: right;
  padding: 20px;
  border-radius: 10px;
  border-top-right-radius: 100px;
}

.formContainer h2,
.formContainer h6 {
  display: inline-block;
}

h2 {
  font-size: 3.5vw;
  padding: 0;
  margin: 0;
}

.formContainer p {
  margin-top: 0;
}

.knowmore {
  color: rgb(56, 56, 56);
  font-weight: bold;
  background-image: linear-gradient(to right, #7a6cd6, rgb(226, 235, 235));
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #5559cf;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-family: KDA, sans-serif;
  font-size: 16px;
}

.knowmore:hover {
  color: black;
  cursor: pointer;
}

input[type="text"],
[type="email"] {
  margin-top: 15px;
  border-style: none;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  background-color: rgba(25, 67, 58, 0.4);
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  color: white;
}

.subscribe {
  margin-top: 15px;
  color: rgb(56, 56, 56);
  font-weight: bold;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #bbb2f7, rgb(121, 175, 175));
  opacity: 70%;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-family: KDA, sans-serif;
  cursor: pointer;
  font-size: 16px;
}

.subscribe:hover {
  color: black;
  cursor: pointer;
}

footer {
  position: absolute;
  color: rgb(151, 151, 151);
  font-size: 8px;
}

footer img {
  float: left;
  width: 100px;
  opacity: 80%;
}

ul {
  text-align: center;
  padding: 0%;
}

li {
  display: inline-block;
  padding: 10px;
  opacity: 0.5;
}

.popup {
  opacity: 98%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: #060606;
  width: 900px;
  height: 620px;
  z-index: 999;
  padding: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 100px rgb(64, 64, 167);
  border-radius: 20px;
  transition: 2s ease;
  box-sizing: border-box;
}

.controls {
  position: absolute;
  text-align: left;
  left: 0;
  top: 0;
  transform: translateX(170%) translateY(130%);
  z-index: 1000;
  cursor: pointer;
}
.bx-play-circle {
  background: rgba(224, 224, 224, 0.219);
  border-radius: 50%;
  font-size: 40px;
}

.bx-x {
  color: rgb(202, 202, 202);
  font-size: 40px;
  position: absolute;
  float: right;
  right: 0;
  transform: translateX(-30%);
  cursor: pointer;
}

.bx-pause-circle {
  background: rgba(224, 224, 224, 0.219);
  border-radius: 50%;
  font-size: 40px;
}

.bx-volume-full {
  background: rgba(224, 224, 224, 0.219);
  border-radius: 50%;
  font-size: 40px;
}

.videoIntro {
  width: 100%;
}

.viewMore {
  font-family: KDA, sans-serif;
  font-weight: 700;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
  border: none;
  margin-left: auto;
  bottom: 0;
  padding: 50px;
}

.viewMore:hover {
  background-color: #3b46b9;
  color: #fff341;
}

.pvBtn {
  display: flex;

  position: relative;
  margin: auto;
  font-family: KDA, sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(212, 212, 212);
  background: none;
  padding: 50px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  opacity: 90%;
  transition: 0.2s linear;
}

.pvBtn:hover {
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .formContainer {
    font-size: 12px;
  }

  footer {
    position: relative;
    font-size: 8px;
  }

  footer img {
    float: left;
    width: 10vh;
  }
}

@media screen and (max-width: 800px) {
  header {
    font-size: 4vw;
  }
}
